h2 {
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5vh;
  margin: 2vw;

}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center top; 
}

.image-container {
  font-size: 2vh;
  min-width: 20vh;
  width: 25vh; 
  height: 30vh; 
  overflow: hidden; 
  border-radius: 5vh; 
  margin-right: 20px; 
}


.about-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #42424279; /* Grey box background color */
  height: 30vh;
  padding: 1vh;
  border-radius: 5vh; /* Add rounded corners to the box */
}
