footer {
  background-color: #d4d4d4; 
  color: slategray; 
  text-align: center; 
  padding: 1rem; 
}

.footer-links {
  margin: 5px;
  text-decoration: none; 
  color: slategray; 
}

.footer-links:hover {
  color: #333; 
}